# requirements to get a working jax & tensi=orflow-probability with jax as a backend
tensorflow_probability==0.15.0
type-extensions
pandas
matplotlib
scipy
msgpack==1.0.
rich
pyyaml==6.0
optax==0.1.3
chex==0.1.3
toolz==0.10.0
flax==0.5.3
searborn
papermill
h5py
xgboost
jax==0.1.49
jaxlib==0.1.32
numpyro==0.2.1